@import "tailwindcss";

/* 1. Hero Animation */
@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
.animate-shimmer {
  animation: shimmer 6s linear infinite;
}

/* Testimonials */
.swiper-slide-active {
  opacity: 1 !important;
  filter: blur(0px) !important;
  z-index: 10;
}
/* Hide buttons on Mobile */
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}
/* Show and Style buttons on Desktop */
@media (min-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex !important;
    background-color: rgba(255, 255, 255, 0.05);
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white !important;
    transition: 0.3s;
    z-index: 10;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 18px;
    font-weight: bold;
  }

  .swiper-button-prev {
    left: -50px !important;
  }
  .swiper-button-next {
    right: -50px !important;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: rgba(108, 108, 108, 0.2);
  }
}

@media (max-width: 1024px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

/* Scroll Text */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-scroll {
  animation: scroll 50s linear infinite;
  will-change: transform;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
