@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
/* Georgia Pro Cond Italic */
@font-face {
  font-family: "Georgia Pro Cond";
  src: url("/fonts/GeorgiaProCond-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Georgia Pro Light */
@font-face {
  font-family: "Georgia Pro Light";
  src: url("/fonts/GeorgiaPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --swiper-navigation-color: #ffffff;
  --swiper-theme-color: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: clip;
  width: 100%;
}
body {
  background: black;
}

/* fonts */
.georgia-pro-cond-italic {
  font-family: "Georgia Pro Cond", serif;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
.georgia-pro-light {
  font-family: "Georgia Pro Light", serif;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
